<div class="{{classes.outerTableWrapper}}">
  <div class="top-toolbar">
    {{#if toolbarActions}}
      {{#each toolbarActions as |tbAction|}}
        {{partial toolbarAction}}
      {{/each}}
    {{/if}}
    {{! global filter start }}
    {{#if showGlobalFilter}}
      {{partial globalFilterTemplate}}
    {{/if}}
    {{! global filter end }}
    {{! columns dropdown start }}
    {{#if showColumnsDropdown}}
      {{partial columnsDropdownTemplate}}
    {{/if}}
    {{! columns dropdown end }}
    
    {{#each processedColumns as |column|}}
      <div class="icon-filters">
        {{#if column.filterArray}}
          {{#each-in column.filterArray as |key value|  }}
            <button class="btn small primary {{if value "active" }}" {{action (action "toggleButtonFilter" key column) }}><i class="icon {{key}}"></i></button>
          {{/each-in}}
	  <button class="btn small primary" {{action (action "toggleAllButtonFilters" column) }}>All</button>
        {{/if}}
      </div>
    {{/each}}
  </div>

  <!-- Div needed by Firefox to reset floating positioning -->
  <div style="clear:both"/>

  <div class="{{classes.innerTableWrapper}}">
    <table class="{{classes.table}}">
      {{! table header start }}
      <thead>
        {{#if groupedHeaders.length}}
          {{partial headerGroupedRowsTemplate}}
        {{/if}}
        {{partial headerSortingRowTemplate}}
        {{#if useFilteringByColumns}}
          {{partial headerFilteringRowTemplate}}
        {{/if}}
      </thead>
      {{! table header end }}
      {{! table body start }}
      <tbody>
        {{#if allColumnsAreHidden}}
          <tr><td colspan={{processedColumns.length}} class="{{classes.noDataCell}}">{{{messages.allColumnsAreHidden}}}</td></tr>
        {{else}}
          {{#if visibleContent.length}}
            {{#each visibleContent as |record|}}
              {{partial rowTemplate}}
            {{/each}}
          {{else}}
            <tr><td colspan={{processedColumns.length}}>{{{messages.noDataToShow}}}</td></tr>
          {{/if}}
        {{/if}}
      </tbody>
      {{! table body end }}
    </table>
  </div>
  {{! table footer start }}
  {{#if showTableFooter}}
    {{partial tableFooterTemplate}}
  {{/if}}
  {{! table footer end }}
</div>
