<select class="form-control changeFilterForColumn {{column.cssPropertyName}}" {{action "changeFilterForColumn" column on="change"}}>
  {{#each column.filterOptions key="@index" as |item|}}
    <option value="{{item}}" selected={{is-equal item selectedValue}}>
      {{item}}
    </option>
  {{/each}}
</select>